[submodule "beet_engine/beet_math/third/glm"]
	path = beet_engine/beet_math/third/glm
	url = https://github.com/icaven/glm.git
[submodule "beet_pipeline/third/ispc_texture_compressor_cmake"]
	path = beet_pipeline/third/ispc_texture_compressor_cmake
	url = https://github.com/BeardyKing/ispc_texture_compressor_cmake.git
[submodule "beet_pipeline/third/cgltf"]
	path = beet_pipeline/third/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "beet_pipeline/third/fmt"]
	path = beet_pipeline/third/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "beet_engine/beet_gfx/third/imgui"]
	path = beet_engine/beet_gfx/third/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "beet_engine/beet_converter/third/glslang"]
	path = beet_engine/beet_converter/third/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "beet_engine/beet_converter/third/SPIRV-Headers"]
	path = beet_engine/beet_converter/third/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "beet_engine/beet_converter/third/SPIRV-Tools"]
	path = beet_engine/beet_converter/third/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
